        <ul id="ranking-menu" class="menu">
            <li class="menu-item">
              <a href="/Spielstand">Alle</a>
            </li>
            <br />
            <li class="menu-item">
              <a href="/Spielstand/Maenner">Männer</a>
            </li>
            <li class="menu-item">
              <a href="/Spielstand/Frauen">Frauen</a>
            </li>
            <li class="menu-item">
              <a href="/Spielstand/Jugendliche">Jugendliche </a>
            </li>
            <li class="menu-item">
              <a href="/Spielstand/Erwachsene">Erwachsene</a>
            </li>
            <br />
            <li class="menu-item">
              <a href="/Spielstand/Vergessen">Vergessene Tipps</a>
            </li>
            <br />
            <li class="menu-item">
              <a href="/Spielstand/Punkte=1-0-0-0">Nur Vorrunde</a>
            </li>
            <li class="menu-item">
              <a href="/Spielstand/Punkte=0-4-7-10">Nur Hauptrunde</a>
            </li>
        </ul>

