{% extends 'tipgame/comments/base_comments.html' %}

{% block content %}
  <h2>Kommentare</h2>
  <p>Hier kann sich jeder zu den Spielen, den Tipps
     und dem Spielstand äußern.</p>
  <p>Wir sind gespannt, ob das wieder so gut funktioniert wie beim letzten Mal.</p>
  <p>Unangebrachte Beiträge (z.B. Beleidigungen, rassistische und sexistische
     Äußerungen) werden wir ggfs. kürzen oder sogar löschen.</p>
  <p>Viel Spaß beim Schreiben und Lesen!</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Ute</strong> und <strong>Rainer</strong></p>
  <br />

{% endblock content %}
