        <ul id="comments-menu" class="menu">
            <li class="menu-item">
              <a href="/Kommentare">Info</a>
            </li>
            <li class="menu-item">
              <a href="../Kommentare/Heute">Lesen</a>
              <ul class="submenu">
                <li class="submenu-item"><a href="/Kommentare/Heute">Heute</a></li>
                <li class="submenu-item"><a href="/Kommentare/Gestern">Gestern</a></li>
                <li class="submenu-item"><a href="/Kommentare/Vorgestern">Vorgestern</a></li>
                <li class="submenu-item"><a href="/Kommentare/Alle">Alle</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/Kommentare/Schreiben">Schreiben</a>
            </li>
        </ul>
