        <ul id="home-menu" class="menu">
          <li class="menu-item">
            <a href="/">Willkommen</a>
          </li>
          <li class="menu-item">
            <a href="/Regeln">Regeln</a>
          </li>
          <li class="menu-item">
            <a href="/Wertung">Wertung</a>
          </li>
<!--      <li class="menu-item">
            <a href="/Termine">Termine</a>
          </li>  -->
          <li class="menu-item">
            <a href="/Kontakt">Kontakt</a>
          </li>
        </ul>
