{% extends 'tipgame/home/base_home.html' %}

{% block content %}
  <h2>Regeln</h2>
    <p>
      Für die Teilnahme am Tipp-Spiel gelten folgende Regeln:
    </p>
    <ol id="rules">
      <li>
        <h5>Ziel des Tipp-Spiels</h5>
        <p>Wir suchen die besten drei Tipper, die die meisten Spielergebnisse
           richtig vorhersagen.</p>
      </li>
      <li>
        <h5>Abgabe der Tipps</h5>
        <p>Tipps können jeweils für feststehende Spielpaarungen abgegeben werden.
           Jeder Tipp kann bis eine Viertestunde vor Anfang des jeweiligen Spieles
           online abgegeben bzw. noch geändert werden.</p>
      </li>
      <li>
        <h5>Eingehende Spielwertungen</h5>
        <p>Bei allen Spielen wird bei der Wertung der Tipps jeweils das
           offizielle Endergebnis gewertet. Elfmeterschießen und/oder
           Verlängerungen des Spiels sind für die Wertung der Tipps somit stets
           relevant.
        </p>
      </li>
      <li>
        <h5>Wertung der Tipps</h5>
        <p>Die Wertung erfolgt nach den unter <a href="/Wertung">Wertung</a>
           festgelegten Regeln.
        </p>
      </li>
      <li>
        <h5>Ausschluss vom Tippspiel</h5>
        <p>Die Betreiber des Tippspiels behalten sich vor, Tipper bei Betrugsversuchen
           jeglicher Art oder Verstoß gegen die Nutzungsregeln der Website ohne
           Ankündigung vom Tippspiel auszuschließen.
        </p>
      </li>
      <li>
        <h5>Teilnahmegebühr</h5>
        <p>Die Teilnahmegebühr beträgt für Erwachsene € 3,-- und für
           Jugendliche € 1,--. Alle Einnahmen werden vollständig an die
           Gewinner ausgeschüttet.</p>
      </li>
      <li>
        <h5>Rechtsweg, Datenschutz</h5>
        <p>Der Rechtsweg ist ausgeschlossen. Es werden keine Daten an Dritte
         weitergegeben. Alle Daten werden vertraulich behandelt.</p>
      </li>
    </ol>
{% endblock content %}
