{% extends 'tipgame/tips/base_tips.html' %}

{% block content %}
  <h2>Hauptrunde</h2>
  <p>
    Die Hauptrunde wird nach dem K.O-System durchgeführt.<br />
    Der Verlierer scheidet aus, der Gewinner kommt in die nächste Runde.
  </p>
  <p>
    Falls es nach Ablauf der regulären Spielzeit unentschieden steht, gibt es
    eine Verlängerung von zweimal 15 Minuten. Führt auch das nicht zu einer
    Entscheidung, muss der Sieger durch Elfmeterschiessen ermittelt werden.
  </p>
  <p>
    Es ist also nicht sehr sinnvoll, auf ein Unentschieden zu tippen. :-)
  </p>
  

{% endblock content %}
