{% extends 'tipgame/home/base_home.html' %}

{% block content %}
    <h2>Kontakt</h2>
    <p>Falls irgendetwas nicht funktioniert, Du eine Frage oder einen
       Verbesserungsvorschlag hast, ruf einen von uns an oder schreib uns
       eine E-Mail.</p>
    <table class="games">
      <tr>
        <td><strong>Ute</strong></td>
        <td>040 / 98 26 95 09</td>
        <td>
          <a href="mailto:ute.mansfeld@googlemail.com">
            ute.mansfeld@googlemail.com
          </a>
        </td>
      </tr>
      <tr>
        <td><strong>Rainer</strong></td>
        <td>040 / 701 78 71</td>
        <td>
          <a href="mailto:rainer@romulo.de">
            rainer@romulo.de
          </a>
        </td>
      </tr>
    </table>

{% endblock content %}
